<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles/main.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap" rel="stylesheet">
    <title>Document</title>
</head>
<body>
    <header class="navbar">
        
        <h1><a href="#"> <img src="images/favicon-32x32.png"  alt="MS-logo"></a>Planpal</h1>


<div class="menu">
       
    <a href="/"><button > Day Task</button></a>
    <a href="/work" target="_blank"> <button>Work task</button></a>
    <button class="checkall">check all</button>
    <button href="/removealltask">remove all</button>
</div>
</header>
 
    <main class="i">

    
